// Variable

$CY-Black: #000000;
$CY-Yellow: #FFCC48;
$CY-Maroon: #C81F1F;
$CY-White: #FBFBFB;
$CY-Green: #00624A;
$CY-DarkGrey: #3D3D3D;
$CY-Orange: #E27022;

$primaryFont: 'Epilogue';

//Root

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Global Values

h1, h2, h3, h4, h5, h6, p{
    font-family: $primaryFont;
    color: $CY-Black;
}

h1{
    font-size: 58px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 28px;
}
h5{
    font-size: 22px;
}
h6{
    font-size: 18px;
}


// Center div

.center-div{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}


//Mixins

@mixin button-style{
    box-shadow: 0px 12px 30px 0px #00423259;
    background-color: $CY-Green;
    text-decoration: none;
    color: $CY-White;
    font-family: $primaryFont;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}


//Media queries 

@media screen and (max-width: 1024px){

    // Center div

    .center-div{
    max-width: 1400px;
    margin: 0 auto;
    width: 90%;
    }
}


// Announcement Bar 

.announcement{
    position: fixed;
    width: 100%;
    max-height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    
    p{
        font-weight: 500;
        text-align: center;
        color: $CY-White;

        span{
            text-transform: capitalize;
        }
    }

    .announcement-cta{
        background: $CY-Yellow;
        text-decoration: none;
        color: $CY-Black;
        font-weight: 600;
        font-size: 11px;
        font-family: $primaryFont;
        display: flex;
        align-items: center;
        margin-left: 20px;
        justify-content: center;
        padding: 5px;
        border-radius: 2px;
        max-width: 90px;
        width: 100%;
    }

    .announcement-stars{
        margin: 0 10px;
    }
}

//Header

header{
    position: fixed;
    top: 50px;
    width: 100%;
    padding: 15px 0;
    background-color: white;
    
    .nav-wrapper{
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }

    @media screen and (max-width: 1440px) {
        .nav-wrapper{
            max-width: 95%;
            width: 100%;
            margin: 0 auto;
        }
    }

    nav.navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            max-width: 200px;

            img{
                width: 100%;
            }
        }

        .header-links{
            display: flex;

            ul{
                display: flex;
                list-style: none;

                li{
                    display: flex;
                    align-items: center;
                }
            }

            ul.navigation-links{
                
                li{
                    position: relative;

                    a{
                        font-family: $primaryFont;
                        font-weight: 500;
                        font-size: 18px;
                        text-decoration: none;
                        color: $CY-Black;
                        margin: 0 10px;
                    }

                    // Underline Animation 

                    a:after {    
                        background: none repeat scroll 0 0 transparent;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 2px;
                        left: 50%;
                        position: absolute;
                        background: $CY-Black;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0;
                    }
                    a:hover:after { 
                        width: 100%; 
                        left: 0; 
                    }
                }
            }

            ul.navigation-icons{
                margin-left: 10px;

                li{

                    a{
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}