@media screen and (max-width: 900px) {
    
    // About Us Section 

    section.about-us{

        .content-wrapper{

            .text-wrapper{
                width: 100%;
                align-items: center;

                p{
                    margin: 10px 0;
                    font-size: 18px;
                    text-align: center;
                }

                .responsive-image{
                    display: flex;
                    max-width: 90%;

                    img{
                        max-width: 100%;
                    }
                }
            }

            .image-wrapper{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    
    // Landing section 

    section.landing-section{
        height: 530px;

        .content-wrapper{
            margin-top: 40px;
            max-width: 90%;

            p{
                font-size: 18px;
            }
        }
    }

    section.about-us{
        margin-top: -70px;

        .content-wrapper{

            h1{
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    
    // Landing section 

    section.landing-section{

        .content-wrapper{
            margin-top: 100px;

            h1{
                font-size: 32px;
            }

            p{
                margin: 20px 0;
                font-size: 12px;
            }
        }
    }
}