@media screen and (max-width: 900px) {
    
    // About Us Section 

    section.about-us{

        .content-wrapper{

            .text-wrapper{
                width: 100%;
                align-items: center;

                p{
                    margin: 10px 0;
                    font-size: 18px;
                    text-align: center;
                }

                .responsive-image{
                    display: flex;
                    max-width: 90%;

                    img{
                        max-width: 100%;
                    }
                }
            }

            .image-wrapper{
                display: none;
            }
        }
    }

    section.testimonial{

        .testimonial-slider{

            .swiper-wrapper{
                .swiper-slide{

                    .card-wrapper{

                        .image-wrapper{
                            padding: 20px 0;
                            
                            .profile-wrapper{
                                width: 110px;
                                height: 110px;
                            }
                        }

                        .text-wrapper{
                            padding: 20px;

                            .review-stars{

                                img{
                                    max-width: 20px;
                                }
                            }

                            span{
                                font-size: 20px;
                            }

                            p{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    
    // Landing section 

    section.landing-section{
        height: 530px;

        .content-wrapper{
            margin-top: 40px;
            max-width: 90%;

            p{
                font-size: 18px;
            }
        }
    }

    section.about-us{
        margin-top: -70px;

        .content-wrapper{

            h1{
                margin-bottom: 10px;
            }
        }
    }

    section.trending{
        .trending-slider{
            .swiper-wrapper{
                .swiper-slide{
                    .card-wrapper{
                        a.title{
                            font-size: 22px;
                        }
                        p{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }


}

@media screen and (max-width: 600px) {
    
    // Landing section 

    section.landing-section{

        .content-wrapper{
            margin-top: 100px;

            h1{
                font-size: 32px;
            }

            p{
                margin: 20px 0;
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 425px) {

    // Testimonial 

    section.testimonial{

        .testimonial-slider{
            .swiper-wrapper{
                .swiper-slide{

                    .card-wrapper{

                        .image-wrapper{
                            
                            .profile-wrapper{
                                width: 100px;
                                height: 100px;
                            }
                        }

                        .text-wrapper{

                            span{
                                font-size: 18px;
                            }

                            p{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}