// Landing Section 

section.landing-section{
    height: 650px;
    background: url(../images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .content-wrapper{
        max-width: 700px;
        margin-top: 70px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            text-align: center;
            font-weight: 400;
            line-height: 121.552%;

            span{
                font-weight: 800;
            }
        }

        p{
            max-width: 630px;
            margin: 30px 0;
            font-weight: 400;
            font-size: 22px;
            text-align: center;
            color: $CY-DarkGrey;
            line-height: 141%
        }

        a{
            @include button-style;
            transition: all 0.2s;
        }

        a:hover{
            opacity: 0.85;
            transition: all 0.2s;
        }
    }
}

// Product Images section 

section.product-images{
    width: 100%;
    transform: translateY(-50%);

    .center-div{
        overflow-x: hidden;
    }

    .image-slider{

        .swiper-wrapper{

            .swiper-slide{
                display: flex;
                justify-content: center;

                .image-wrapper{
                    width: 225px;
                    height: 300px;
                    display: flex;
                    background: url(../images/image-background.png) no-repeat;
                    background-size: contain;
                    align-items: center;
                    justify-content: center;

                    img{
                        max-width: 160px;
                        width: 100%;
                    }
                }

                @media screen and (max-width: 768px) {
                    .image-wrapper{
                        width: 200px;
                        height: 275px;

                        img{
                            max-width: 130px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    section.product-images{
        overflow-x: hidden;

        .center-div{
            overflow-x: visible;
        }
    }
}