// Landing Section 

section.landing-section{
    height: 650px;
    background: url(../images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .content-wrapper{
        max-width: 700px;
        margin-top: 70px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            text-align: center;
            font-weight: 400;
            line-height: 121.552%;

            span{
                font-weight: 800;
            }
        }

        p{
            max-width: 630px;
            margin: 30px 0;
            font-weight: 400;
            font-size: 22px;
            text-align: center;
            color: $CY-DarkGrey;
            line-height: 141%
        }

        a{
            @include button-style;
            transition: all 0.2s;
        }

        a:hover{
            opacity: 0.85;
            transition: all 0.2s;
        }
    }
}

// Product Images section 

section.product-images{
    width: 100%;
    transform: translateY(-50%);

    .center-div{
        overflow-x: hidden;
    }

    .image-slider{

        .swiper-wrapper{

            .swiper-slide{
                display: flex;
                justify-content: center;

                .image-wrapper{
                    width: 225px;
                    height: 300px;
                    display: flex;
                    background: url(../images/image-background.png) no-repeat;
                    background-size: contain;
                    align-items: center;
                    justify-content: center;

                    img{
                        max-width: 160px;
                        width: 100%;
                    }
                }

                @media screen and (max-width: 768px) {
                    .image-wrapper{
                        width: 200px;
                        height: 275px;

                        img{
                            max-width: 130px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    section.product-images{
        overflow-x: hidden;

        .center-div{
            overflow-x: visible;
        }
    }
}

// About Us Section 

section.about-us{
    width: 100%;

    .content-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .text-wrapper{
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;

            h1{
                font-weight: 400;
                
                span{
                    font-weight: 800;
                }
            }

            .responsive-image{
                display: none;
            }

            p{
                font-size: 22px;
                font-weight: 400;
                line-height: 141%;
                color: $CY-DarkGrey;
            }

            a{
                @include button-style
            }

            a:hover{
                opacity: 0.85;
                transition: all 0.2s;
            }
        }

        .image-wrapper{
            width: 48%;

            img{
                max-width: 100%;
            }
        }
    }
}

// Trending Collection 

section.trending{
    width: 100%;
    margin: 50px 0;

    .center-div{
        overflow-x: hidden;
    }

    h1{
        text-align: center;
        font-weight: 400;

        span{
            font-weight: 800;
        }
    }

    .trending-slider{
        width: 100%;
        margin-top: 20px;

        .swiper-wrapper{

            .swiper-slide{
                
                .card-wrapper{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .image-wrapper{
                        max-width: 370px;
                        height: 420px;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .review-stars{
                        display: flex;
                        margin: 10px 0;

                        img{
                            width: 24px;
                            height: 24px;
                            margin: 0 2.5px;
                        }
                    }

                    a.title{
                        font-family: $primaryFont;
                        font-size: 26px;
                        font-weight: 700;
                        text-decoration: none;
                        color: $CY-DarkGrey;
                    }

                    p{
                        margin: 10px 0;
                        font-weight: 500;
                        font-size: 22px;
                        color: $CY-DarkGrey;
                    }

                    .button-wrapper{
                        display: flex;
                        width: 100%;

                        button.atc{
                            @include button-style;
                            border: none;
                            width: 70%;
                            padding: 15px 0;
                            cursor: pointer;
                            max-width: 300px;
                        }

                        button.heart{
                            margin-left: 10px;
                            border: none;
                            outline: none;
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}

// Testimonials

section.testimonial{
    margin: 100px 0;
    width: 100%;
    overflow-x: hidden;

    h1{
        text-align: center;
        font-weight: 400;

        span{
            font-weight: 800;
        }
    }

    .testimonial-slider{
        margin-top: 20px;

        .swiper-wrapper{

            .swiper-slide{

                .card-wrapper{
                    background: rgba(255, 243, 132, 0.30);
                    display: flex;
                    flex-direction: column;

                    .image-wrapper{
                        padding: 30px 0;
                        width: 100%;
                        background: url(../images/dot-background.png) no-repeat;
                        background-size: cover;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .profile-wrapper{
                            width: 130px;
                            height: 130px;
                            border-radius: 50%;
                            border: 5px solid $CY-Orange;

                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .text-wrapper{
                        padding: 30px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        span{
                            font-size: 24px;
                            font-family: $primaryFont;
                            font-weight: 600;
                            color: $CY-DarkGrey;
                        }

                        .review-stars{
                            margin: 10px 0;
                            width: 100%;
                            display: flex;
                            justify-content: center;

                            img{
                                margin: 0 2.5px;
                            }
                        }

                        p{
                            text-align: center;
                            color: $CY-DarkGrey;
                            font-size: 22px;
                            font-weight: 400;
                            line-height: 154%;
                        }
                    }
                }
            }
        }

        .slider-navigation{
            width: 100%;
            display: flex;
            position: relative;
            margin-top: 50px;

            .swiper-pagination-bullet{
                background: #D9D9D9;
                opacity: 1;
            }

            .swiper-pagination-bullet-active{
                background: $CY-Orange;
            }

            .swiper-button-next:after{
                background: url('../images/slider-next.svg') no-repeat;
                content: "";
                display: block;
                height: 24px;
                width: 24px;
            } 
            .swiper-button-prev:after{
                background: url('../images/slider-prev.svg') no-repeat;
                content: "";
                display: block;
                height: 24px;
                width: 24px;
            }

            .swiper-button-next, .swiper-button-prev{
                transform: translate(-50%, -50%);
                top: 5px;
            }

            .swiper-button-next{
                width: 24px;
                height: 24px;
                right: 44%;
            }
            .swiper-button-prev{
                width: 24px;
                height: 24px;
                left: 46%;
            }
        }
    }
}

// Recommended Products

section.recommended-products{
    
    h1{
        text-align: center;
        font-weight: 400;

        span{
            font-weight: 800;
        }
    }

    p{
        margin: 20px auto;
        text-align: center;
        font-size: 22px;
        line-height: 141%;
        color: $CY-DarkGrey;
        font-weight: 400;
        max-width: 1200px;
    }

    .product-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-around;

        .product{
            max-width: 620px;
            max-height: 600px;
            width: 49%;

            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

// Features

section.features{
    margin: 100px 0px;
    margin-bottom: 0;

    .features-wrapper{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;

        .feature{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 25%;
            max-width: 300px;

            .image-wrapper{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    max-width: 55px;
                    object-fit: cover;
                }
            }

            h5{
                margin-top: 5px;
                color: #030303;
                text-align: center;
                font-family: $primaryFont;
                font-size: 20px;
                font-weight: 500;
                line-height: 160%;
            }

            p{
                color: $CY-DarkGrey;
                text-align: center;
                font-weight: 400;
                line-height: 177%;
                font-size: 18px;
            }
        }
    }
}

section.offer-banner{
    transform: translateY(30%);
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/offerbg.png) no-repeat;
    background-size: cover;
    padding: 80px;
    border-radius: 10px;

    @media screen and (max-width: 1440px){
        width: 90%;
    }

    h2{
        color: $CY-White;
        text-align: center;
        font-size: 48px;
        line-height: 146%;
        font-weight: 400;

        span{
            font-weight: 800;
        }
    }

    a{
        margin-top: 50px;
        @include button-style;
    }
}